flows.json
[
    {
        "id": "d3bafc4d888d1327",
        "type": "tab",
        "label": "Control en la NUBE",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "db0763cc983c9bdb",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "name": "Lazo de Control PID",
        "style": {
            "label": true
        },
        "nodes": [
            "822289ee0d9e21b6",
            "7bdac0345f2d726d",
            "0912cbf3f6e7f16c"
        ],
        "x": 94,
        "y": 519,
        "w": 492,
        "h": 82
    },
    {
        "id": "8fc41476708e6ab9",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "name": "Parte Grafica",
        "style": {
            "label": true
        },
        "nodes": [
            "214bb5bb7c3c748a",
            "e80ba914f330e4bf"
        ],
        "x": 88,
        "y": 93,
        "w": 1484,
        "h": 394
    },
    {
        "id": "22f4050f4f87f395",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "name": "Procolo MQTT",
        "style": {
            "label": true
        },
        "nodes": [
            "4e57a0a57a801556",
            "62dc588bb013aa5d"
        ],
        "x": 88,
        "y": 633,
        "w": 1404,
        "h": 194
    },
    {
        "id": "e80ba914f330e4bf",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "g": "8fc41476708e6ab9",
        "name": "Ingreso de Datos HMI",
        "style": {
            "label": true
        },
        "nodes": [
            "6affae2739636fd4",
            "e80a19e4ef29647c",
            "ef27165957a2a7ce",
            "9837c6631b22c877",
            "497bb3a5985ccf6a",
            "43afa594f96c4de1",
            "b31d9258d5457c6b",
            "d01294d76e015e0e",
            "2597d26d4122589d",
            "29fa82f774db68c4",
            "c8f872af3db7a8f5",
            "fa81248d96351f6e",
            "95a8a0804d8c6bae",
            "432170e61949389b"
        ],
        "x": 114,
        "y": 119,
        "w": 852,
        "h": 342
    },
    {
        "id": "214bb5bb7c3c748a",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "g": "8fc41476708e6ab9",
        "name": "Grafica de Tendencia",
        "style": {
            "label": true
        },
        "nodes": [
            "2cc3886a218bfd36",
            "bacdb831509bd076",
            "5e13ef0e251ac89f",
            "86657a338622ef8d",
            "b577870f2cd9ac34",
            "b1fa050b3d65483f"
        ],
        "x": 974,
        "y": 119,
        "w": 572,
        "h": 182
    },
    {
        "id": "4e57a0a57a801556",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "g": "22f4050f4f87f395",
        "name": "Recepcion de data de la planta local",
        "style": {
            "label": true
        },
        "nodes": [
            "a8452f7ddd355a29",
            "cc2c3f3fd77a1d63"
        ],
        "x": 114,
        "y": 659,
        "w": 452,
        "h": 82
    },
    {
        "id": "62dc588bb013aa5d",
        "type": "group",
        "z": "d3bafc4d888d1327",
        "g": "22f4050f4f87f395",
        "name": "Envio de data a la planta",
        "style": {
            "label": true
        },
        "nodes": [
            "a9b25d76b4eeed82",
            "ba79d5ef72158e38",
            "fc59d02bacf07647",
            "4beb840456cd2fe7",
            "26b63247279de23d",
            "14cbb479b11965bc"
        ],
        "x": 574,
        "y": 659,
        "w": 892,
        "h": 142
    },
    {
        "id": "83028f5fc4af6c91",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#ff0000",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#ff0000",
                    "edited": true
                },
                "page-titlebar-backgroundColor": {
                    "value": "#ff0000",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#ff4d4d",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#ff0000",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5aaaf04bcb7e61c3",
        "type": "ui_tab",
        "name": "Principal",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "88cb12c1a31a6f43",
        "type": "ui_group",
        "name": "Pantalla",
        "tab": "5aaaf04bcb7e61c3",
        "order": 1,
        "disp": true,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "352b6284259e8eec",
        "type": "tls-config",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "b0b5f6d17e4ee7ed2f3d765054e8785e02f5583d8b130eef6e704d8fd403d4ae-certificate.pem.crt",
        "keyname": "b0b5f6d17e4ee7ed2f3d765054e8785e02f5583d8b130eef6e704d8fd403d4ae-private.pem.key",
        "caname": "AmazonRootCA1.pem",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "eb8f10b9cdca97c8",
        "type": "mqtt-broker",
        "name": "MQTT",
        "broker": "a2jc4862ggr0zs-ats.iot.us-east-2.amazonaws.com",
        "port": "8883",
        "tls": "352b6284259e8eec",
        "clientid": "",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "7cf2f1d315444443",
        "type": "ui_group",
        "name": "Configuracion",
        "tab": "5aaaf04bcb7e61c3",
        "order": 2,
        "disp": false,
        "width": "12",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2cc3886a218bfd36",
        "type": "ui_chart",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "",
        "group": "88cb12c1a31a6f43",
        "order": 1,
        "width": 0,
        "height": 0,
        "label": "Tendencia",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "300",
        "removeOlder": "1",
        "removeOlderPoints": "200",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#00ff00",
            "#0080ff",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1450,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "bacdb831509bd076",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "Limpiar Grafica",
        "func": "msg.payload = []\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1280,
        "y": 260,
        "wires": [
            [
                "2cc3886a218bfd36"
            ]
        ]
    },
    {
        "id": "5e13ef0e251ac89f",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1130,
        "y": 220,
        "wires": [
            [
                "bacdb831509bd076"
            ]
        ]
    },
    {
        "id": "86657a338622ef8d",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "Grafica",
        "func": "// adquision de variables\nvar setPoint_Presion = global.get('setPoint_Presion')||-2;\nvar presion = global.get('presion')||-2;\nif(setPoint_Presion != -2 && presion != -2){\n    var msg = {};\n    var msg1 = {};\n    msg.payload = setPoint_Presion;\n    msg.topic = 'SetPoint Presión';\n    msg1.payload = presion;\n    msg1.topic = 'Presión';\n    node.status({fill:\"green\",shape:\"dot\",text:setPoint_Presion + ' psi'});\n    return [msg, msg1];\n}else {\n    node.status({fill:\"red\",shape:\"dot\",text:\"No Data\"});\n}\n",
        "outputs": 2,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1300,
        "y": 160,
        "wires": [
            [
                "2cc3886a218bfd36"
            ],
            [
                "2cc3886a218bfd36"
            ]
        ]
    },
    {
        "id": "b577870f2cd9ac34",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "",
        "props": [],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 1130,
        "y": 160,
        "wires": [
            [
                "86657a338622ef8d"
            ]
        ]
    },
    {
        "id": "b1fa050b3d65483f",
        "type": "ui_button",
        "z": "d3bafc4d888d1327",
        "g": "214bb5bb7c3c748a",
        "name": "",
        "group": "88cb12c1a31a6f43",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Limpiar Tendencia",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 1090,
        "y": 260,
        "wires": [
            [
                "bacdb831509bd076"
            ]
        ]
    },
    {
        "id": "6affae2739636fd4",
        "type": "ui_slider",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "label": "SetPoint de Presión",
        "tooltip": "",
        "group": "7cf2f1d315444443",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "topic",
        "topicType": "msg",
        "min": "100",
        "max": "400",
        "step": "1",
        "className": "",
        "x": 520,
        "y": 160,
        "wires": [
            [
                "9837c6631b22c877",
                "497bb3a5985ccf6a"
            ]
        ]
    },
    {
        "id": "e80a19e4ef29647c",
        "type": "ui_button",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "group": "7cf2f1d315444443",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Aceptar",
        "tooltip": "",
        "color": "white",
        "bgcolor": "green",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 480,
        "y": 240,
        "wires": [
            [
                "43afa594f96c4de1",
                "b31d9258d5457c6b"
            ]
        ]
    },
    {
        "id": "ef27165957a2a7ce",
        "type": "ui_button",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "group": "7cf2f1d315444443",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Rechazar",
        "tooltip": "",
        "color": "white",
        "bgcolor": "red",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 480,
        "y": 280,
        "wires": [
            [
                "b31d9258d5457c6b"
            ]
        ]
    },
    {
        "id": "d01294d76e015e0e",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "Inicializar Variables",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "1",
        "topic": "",
        "x": 250,
        "y": 280,
        "wires": [
            [
                "2597d26d4122589d",
                "b31d9258d5457c6b"
            ]
        ]
    },
    {
        "id": "2597d26d4122589d",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "function 2",
        "func": "var setPoint_Presion = global.get('setPoint_Presion')||-2;\nif(setPoint_Presion == -2){\n    global.set('setPoint_Presion',100);\n}\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 500,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "9837c6631b22c877",
        "type": "change",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "SetPoint_PID_Presion_AUX",
                "pt": "flow",
                "to": "payload",
                "tot": "msg",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 790,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "497bb3a5985ccf6a",
        "type": "ui_text",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "group": "7cf2f1d315444443",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "SetPoint Text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "43afa594f96c4de1",
        "type": "change",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "setPoint_Presion",
                "pt": "global",
                "to": "SetPoint_PID_Presion_AUX",
                "tot": "flow",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 680,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "b31d9258d5457c6b",
        "type": "change",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "setPoint_Presion",
                "tot": "global",
                "dc": true
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "6affae2739636fd4"
            ]
        ]
    },
    {
        "id": "822289ee0d9e21b6",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "db0763cc983c9bdb",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 190,
        "y": 560,
        "wires": [
            [
                "7bdac0345f2d726d"
            ]
        ]
    },
    {
        "id": "a8452f7ddd355a29",
        "type": "mqtt in",
        "z": "d3bafc4d888d1327",
        "g": "4e57a0a57a801556",
        "name": "",
        "topic": "device/MQTTBroker/entrada",
        "qos": "0",
        "datatype": "auto-detect",
        "broker": "eb8f10b9cdca97c8",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 260,
        "y": 700,
        "wires": [
            [
                "cc2c3f3fd77a1d63"
            ]
        ]
    },
    {
        "id": "cc2c3f3fd77a1d63",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "4e57a0a57a801556",
        "name": "Save Data",
        "func": "var data = msg;\nvar presion = data.payload.presion;\nvar setPoint_Presion = data.payload.setPoint_Presion;\nvar ctrPlanta = data.payload.ctr;\nnode.status({fill:\"blue\",shape:\"dot\",text:\"presion \" + presion});\n//Guardar la presion\nglobal.set('presion',presion);\nglobal.set('setPoint_Presion',setPoint_Presion);\nglobal.set('ctrPlanta',ctrPlanta);\ncontext.set('monitoreo',data,'memoryOnly');\nreturn msg;\n",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 470,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "a9b25d76b4eeed82",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "62dc588bb013aa5d",
        "name": "timmer",
        "func": "var ctr = context.get('ctr','memoryOnly')||0;\nctr++;\nif(ctr > 10){\n    ctr = 0;\n}\nnode.status({fill:\"red\",shape:\"ring\",text:\"ctr \" + ctr});\ncontext.set('ctr',ctr,'memoryOnly');\nmsg.contador = ctr;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 810,
        "y": 700,
        "wires": [
            [
                "4beb840456cd2fe7"
            ]
        ]
    },
    {
        "id": "ba79d5ef72158e38",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "62dc588bb013aa5d",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 680,
        "y": 700,
        "wires": [
            [
                "a9b25d76b4eeed82"
            ]
        ]
    },
    {
        "id": "fc59d02bacf07647",
        "type": "mqtt out",
        "z": "d3bafc4d888d1327",
        "g": "62dc588bb013aa5d",
        "name": "",
        "topic": "device/MQTTBroker/entradaNUBE",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "eb8f10b9cdca97c8",
        "x": 1300,
        "y": 700,
        "wires": []
    },
    {
        "id": "4beb840456cd2fe7",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "62dc588bb013aa5d",
        "name": "Estructurar Mensaje de salida",
        "func": "// adquision de variables globales\nvar presion = global.get('presion')||0;\nvar SalidaPID = global.get('SalidaPID','memoryOnly')||0;\nvar setPoint_Presion = global.get('setPoint_Presion')||0;\nvar ctr = msg.contador;\n\nmsg = {\n    'payload':{\n        ctr,\n        SalidaPID\n    }\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 700,
        "wires": [
            [
                "fc59d02bacf07647"
            ]
        ]
    },
    {
        "id": "26b63247279de23d",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "62dc588bb013aa5d",
        "name": "Status Server Local",
        "func": "//adquision del valor de contador\nvar ctr = global.get('ctrPlanta') || 0;\nvar ctr1 = context.get('ctr1')||0;\nvar ctr2 = context.get('ctr2')||0;\nvar ctr3 = context.get('ctr3')||0;\nvar statusServer = false;\n\n// identificacion de status del servidor\nif (ctr != ctr1 && ctr != ctr2 && ctr != ctr3){\n    statusServer = true;\n}\n\n//condiciones del colore\nvar color = 'red';\nif(statusServer){\n    color = 'green';\n}\n\n\nnode.status({ fill: color, shape: \"ring\", text: ' status Server ' + statusServer + \" ctr \" + ctr });\n// guardando los estados anteriores\ncontext.set('ctr3',ctr2);\ncontext.set('ctr2',ctr1);\ncontext.set('ctr1',ctr);\n//guardando el estado de status server\nglobal.set('statusServerLocal',statusServer,'memoryOnly');\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 860,
        "y": 760,
        "wires": [
            []
        ]
    },
    {
        "id": "29fa82f774db68c4",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "",
        "props": [],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 290,
        "y": 360,
        "wires": [
            [
                "c8f872af3db7a8f5",
                "432170e61949389b"
            ]
        ]
    },
    {
        "id": "c8f872af3db7a8f5",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "function 3",
        "func": "var statusServerLocal = global.get('statusServerLocal','memoryOnly')||false;\nmsg.payload = statusServerLocal;\nvar color = 'red';\nif(statusServerLocal == true){\n    color = 'green';\n}\nnode.status({fill:color,shape:\"ring\",text:\"Server \" + statusServerLocal});\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 360,
        "wires": [
            [
                "fa81248d96351f6e"
            ]
        ]
    },
    {
        "id": "fa81248d96351f6e",
        "type": "ui_led",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "order": 4,
        "group": "7cf2f1d315444443",
        "width": 0,
        "height": 0,
        "label": "Status Planta Local",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#ff0000",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "",
        "x": 550,
        "y": 360,
        "wires": []
    },
    {
        "id": "7bdac0345f2d726d",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "db0763cc983c9bdb",
        "name": "PID",
        "func": "// Traer los parámetros globales\nvar reference = global.get('setPoint_Presion') || 0;  // Valor deseado (referencia)\nvar output = global.get('presion') || 0;  // Salida actual del sistema\n\n// Traer los parámetros anteriores\nvar uk = Math.abs(reference - output);  // Error actual\nvar uk1 = flow.get('uk1') || 0;  // Error anterior\nvar yk = 0;  // Salida actual\nvar yk1 = flow.get('yk1') || 0;  // Salida anterior\n\n// Parámetros del controlador PI\nvar Kp = 1.81e-6;  // Ganancia proporcional\nvar Ki = 1.24e-6;  // Ganancia integral\nvar T = 1;  // Tiempo de muestreo (s)\n\n// Término proporcional\nvar b0_p = Kp;\n\n// Término integral\nvar b0_i = Ki * T / 2;\nvar b1_i = Ki * T / 2;\n\n// Calcular las salidas del controlador\n// Proporcional\nvar y_p = b0_p * uk;\n\n// Integral\nvar y_i = b0_i * uk + b1_i * uk1 + yk1;\n\n// Salida total del PI\nyk = y_p + y_i;\n\n// Actualizar el mensaje\nmsg.payload = yk;\n\n// Visualización en el nodo\nnode.status({ fill: \"green\", shape: \"dot\", text: \"PI Output: \" + yk });\n\n// Almacenar las variables necesarias para la próxima iteración\nflow.set('yk1', yk);  // Guardar salida anterior\nflow.set('uk1', uk);  // Guardar error anterior\n\n// Guardar los coeficientes y monitoreo para depuración\ncontext.set('monitoreo', { \n    ctsProporcional: { b0_p }, \n    ctsIntegrales: { b0_i, b1_i } \n}, 'memoryOnly');\n\nreturn msg;\n",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 560,
        "wires": [
            [
                "0912cbf3f6e7f16c"
            ]
        ]
    },
    {
        "id": "95a8a0804d8c6bae",
        "type": "ui_text",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "group": "7cf2f1d315444443",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Presion",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 620,
        "y": 420,
        "wires": []
    },
    {
        "id": "432170e61949389b",
        "type": "function",
        "z": "d3bafc4d888d1327",
        "g": "e80ba914f330e4bf",
        "name": "Adquirir Presion",
        "func": "var presion = global.get('presion')||0;\nmsg.payload = presion;\nnode.status({fill:\"red\",shape:\"ring\",text:presion +\" psi\"});;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 420,
        "wires": [
            [
                "95a8a0804d8c6bae"
            ]
        ]
    },
    {
        "id": "14cbb479b11965bc",
        "type": "inject",
        "z": "d3bafc4d888d1327",
        "g": "62dc588bb013aa5d",
        "name": "",
        "props": [],
        "repeat": "1.5",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 670,
        "y": 760,
        "wires": [
            [
                "26b63247279de23d"
            ]
        ]
    },
    {
        "id": "0912cbf3f6e7f16c",
        "type": "debug",
        "z": "d3bafc4d888d1327",
        "g": "db0763cc983c9bdb",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 480,
        "y": 560,
        "wires": []
    }
]